<p>bike-choose works!</p>
<br />
<br />
<br />
<div class="bike-display row">
  <div *ngFor="let bike of bikes">
    <app-bike-card [bike]="bike"></app-bike-card>
  </div>
</div>
<form [formGroup]="bikeForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign up</h2>
  <div class="newBike border p-2">
    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('bikePrice').errors &&
            bikeForm.get('bikePrice').touched
        }"
        class="form-control"
        placeholder="bikePrice"
        formControlName="bikePrice"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('bikePrice').touched &&
          bikeForm.get('bikePrice').hasError('required')
        "
      >
        Known as is required
      </div>
    </div>
    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('bikeModel').errors &&
            bikeForm.get('bikeModel').touched
        }"
        class="form-control"
        placeholder="bikeModel"
        formControlName="bikeModel"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('bikeModel').touched &&
          bikeForm.get('bikeModel').hasError('required')
        "
      >
        Known as is required
      </div>
    </div>
    <mat-checkbox
      class="example-margin p-2"
      [checked]="true"
      [ngClass]="{
        'is-invalid':
          bikeForm.get('isMale').errors && bikeForm.get('isMale').touched
      }"
      >Male</mat-checkbox
    >
    <mat-checkbox
      class="example-margin p-2"
      [ngClass]="{
        'is-invalid':
          bikeForm.get('isFemale').errors && bikeForm.get('isFemale').touched
      }"
      >Female</mat-checkbox
    >

    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('sCount').errors && bikeForm.get('sCount').touched
        }"
        class="form-control"
        placeholder="sCount"
        formControlName="sCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('sCount').touched &&
          bikeForm.get('sCount').hasError('required')
        "
      >
        sCount as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('mCount').errors && bikeForm.get('mCount').touched
        }"
        class="form-control"
        placeholder="mCount"
        formControlName="mCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('mCount').touched &&
          bikeForm.get('mCount').hasError('required')
        "
      >
        mCount as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
                'is-invalid':
                  bikeForm.get('lCount').errors &&
                  bikeForm.get('lCount').touched
              }"
        class="form-control"
        placeholder="lCount"
        formControlName="lCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('lCount').touched &&
          bikeForm.get('lCount').hasError('required')
        "
      >
        Known as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
                'is-invalid':
                  bikeForm.get('xlCount').errors &&
                  bikeForm.get('xlCount').touched
              }"
        class="form-control"
        placeholder="xlCount"
        formControlName="xlCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('xlCount').touched &&
          bikeForm.get('xlCount').hasError('required')
        "
      >
        Known as is required
      </div>




      <div class="row">
 
        <div class="col-md-3">
 
            <h3>Select files</h3>
            <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>
 
        <div class="col-md-9" style="margin-bottom: 40px">
 
            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>
 
            <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <td *ngIf="uploader.options.isHTML5">
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs"
                                (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs"
                                (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
 
            <div>
                <div>
                    Queue progress:
                    <div class="progress" >
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>
 
        </div>
 
    </div>
 
    <br><br>
 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Response</div>
                <div class="panel-body">
                  {{ response }}
                </div>
            </div>
        </div>
    </div>






    </div>
  </div>
</form>
