<p>bike-choose works!</p>
<br />
<br />
<br />
<div class="bike-display row">
  <div *ngFor="let bike of bikes">
    <app-bike-card [bike]="bike"></app-bike-card>
  </div>
</div>
<form [formGroup]="bikeForm" (ngSubmit)="register()">
  <h2 class="text-center text-primary">Sign up</h2>
  <div class="newBike border p-2">
    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('bikePrice').errors &&
            bikeForm.get('bikePrice').touched
        }"
        class="form-control"
        placeholder="bikePrice"
        formControlName="bikePrice"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('bikePrice').touched &&
          bikeForm.get('bikePrice').hasError('required')
        "
      >
        Known as is required
      </div>
    </div>
    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('bikeModel').errors &&
            bikeForm.get('bikeModel').touched
        }"
        class="form-control"
        placeholder="bikeModel"
        formControlName="bikeModel"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('bikeModel').touched &&
          bikeForm.get('bikeModel').hasError('required')
        "
      >
        Known as is required
      </div>
    </div>
    <mat-checkbox
      class="example-margin p-2"
      [checked]="true"
      [ngClass]="{
        'is-invalid':
          bikeForm.get('isMale').errors && bikeForm.get('isMale').touched
      }"
      >Male</mat-checkbox
    >
    <mat-checkbox
      class="example-margin p-2"
      [checked]="true"
      [ngClass]="{
        'is-invalid':
          bikeForm.get('isFemale').errors && bikeForm.get('isFemale').touched
      }"
      >Female</mat-checkbox
    >

    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('description').errors && bikeForm.get('description').touched
        }"
        class="form-control"
        placeholder="description"
        formControlName="description"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('description').touched &&
          bikeForm.get('description').hasError('required')
        "
      >
        sCount as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('sCount').errors && bikeForm.get('sCount').touched
        }"
        class="form-control"
        placeholder="sCount"
        formControlName="sCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('sCount').touched &&
          bikeForm.get('sCount').hasError('required')
        "
      >
        sCount as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
          'is-invalid':
            bikeForm.get('mCount').errors && bikeForm.get('mCount').touched
        }"
        class="form-control"
        placeholder="mCount"
        formControlName="mCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('mCount').touched &&
          bikeForm.get('mCount').hasError('required')
        "
      >
        mCount as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
                'is-invalid':
                  bikeForm.get('lCount').errors &&
                  bikeForm.get('lCount').touched
              }"
        class="form-control"
        placeholder="lCount"
        formControlName="lCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('lCount').touched &&
          bikeForm.get('lCount').hasError('required')
        "
      >
        Known as is required
      </div>
    </div>

    <div class="form-group p-2">
      <input
        [ngClass]="{
                'is-invalid':
                  bikeForm.get('xlCount').errors &&
                  bikeForm.get('xlCount').touched
              }"
        class="form-control"
        placeholder="xlCount"
        formControlName="xlCount"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          bikeForm.get('xlCount').touched &&
          bikeForm.get('xlCount').hasError('required')
        "
      >
        Known as is required
      </div>

      



      <input type="file" (change)="onFileSelected($event)">
      <button type="button" (click)="onUpload()">Upload</button>



    </div>
  </div>
</form>
