<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{bike.bikeModel}}</mat-card-title>
      <mat-card-subtitle>{{BikeTypes[bike.bikeType]}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="/assets/images/bike1.png"background-register    alt="rowerek">
    <mat-card-content>
      <p>
            tu bedzie opis byczku
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SHARE</button>
    </mat-card-actions>
    
