<h1 mat-dialog-title>Pick date:</h1>
<mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" (dateChange) = "setDate($event.value)">
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker.open()">Open</button>
  <div class="form-group row">
    <label for="example-number-input" >Number of tickets: </label>
    <div class="col-10 numinput">
      <input class="form-control" [(ngModel)]="ticketsNumber" type="number" min="1" max="30" value="1" id="example-number-input">
    </div>
  </div>
  <button mat-button (click)="addToCart()">Add to cart</button>