<div class="tickets-list">
  <table class="table table-striped table-bordered">
    <tr>
      <th scope="col" class="tickets-color">Bike lift pass</th>
      <th scope="col" class="tickets-color">Normal</th>
      <th scope="col" class="tickets-color2">Reduced</th>
    </tr>
    <tr *ngFor="let row of columns">
      <td>{{ tickets[row].liftTicketType }}</td>
      <td class="hovered" (click)="openDialog(row, false)">
        {{ tickets[row].liftTicketPrice }}
      </td>
      <td class="hovered2" (click)="openDialog(row, true)">
        {{ tickets[row].liftTicketPriceReduced }}
      </td>
    </tr>
  </table>
</div>
<div *appHasRole="['Admin']" class="newTicket border p-2">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Ticket use count</mat-label>
      <input matInput [formControl]="ticketFormControl" placeholder="LiftTicketUseCount" [(ngModel)]="newTicket.LiftTicketUseCount" />
      <mat-error *ngIf="ticketFormControl.hasError('required')">
        Count is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ticket days count</mat-label>
      <input matInput [formControl]="ticketFormControl" placeholder="LiftTicketDaysCount" [(ngModel)]="newTicket.LiftTicketDaysCount" />
      <mat-error *ngIf="ticketFormControl.hasError('required')">
        Days is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ticket price</mat-label>
      <input matInput [formControl]="ticketFormControl" placeholder="LiftTicketPrice" [(ngModel)]="newTicket.LiftTicketPrice"  />
      <mat-error *ngIf="ticketFormControl.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ticket Reduced price</mat-label>
      <input matInput [formControl]="ticketFormControl" placeholder="LiftTicketPriceReduced" [(ngModel)]="newTicket.LiftTicketPriceReduced" />
      <mat-error *ngIf="ticketFormControl.hasError('required')">
        Price is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Ticket name</mat-label>
      <input matInput [formControl]="ticketFormControl" placeholder="LiftTicketType" [(ngModel)]="newTicket.LiftTicketType"/>
      <mat-error *ngIf="ticketFormControl.hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </form>
  <br />
  <mat-checkbox class="example-margin" placeholder="IsDayLimitedTicket" [(ngModel)]="newTicket.IsDayLimitedTicket"
    >Is time limited ticket</mat-checkbox
  >

  <h1 mat-dialog-title>Start date:</h1>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [disabled] = "!newTicket.IsDayLimitedTicket"
      [matDatepicker]="picker"
      (dateChange)="loadNewDateStart($event.value)"
    />
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker.open()">Open</button>

  <h1 mat-dialog-title>Stop date:</h1>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [disabled] = "!newTicket.IsDayLimitedTicket"
      [matDatepicker]="picker2"
      (dateChange)="loadNewDateStop($event.value)"
    />
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker2.open()">Open</button>
  <a mat-button (click)="postTicket()">Make</a>
</div>
