<app-navbar (showReg)="registerToogle()"></app-navbar>
<div *ngIf="!registerMode">
    <div parallax class="rider-parallax" [config]="{axis: X, speed: -.3}"></div>
    <div class="slope"></div>
    <div class="post-container">
        <img src="/assets/images/img2.png" class="rider-post1" />
        <div class="centered">
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
            Witam w mojej pracy licencjackiej
            <br>
        </div>
    </div>
</div>

<div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
        <div class="col-4">
            <app-register (hideReg)="registerToogle()"></app-register>
        </div>
    </div>
</div>
