<div class="toolbar">
    <mat-toolbar color = "primary">
        <div class="logo"><span>GravityBikes</span></div>
        <div class="spacer"></div>
        <app-dialog></app-dialog>
        <a mat-button [routerLink] ="['/home']" routerLinkActive="router-link-active">Home</a>
        <a mat-button [routerLink] ="['/register']" routerLinkActive="router-link-active">Register</a>
        <a mat-button [routerLink] ="['/bike_choose']" routerLinkActive="router-link-active">Rents</a>
        <a routerLink="/cart" class="button fancy-button">
            <i class="material-icons">shopping_cart</i>Checkout
          </a>
    </mat-toolbar>